<template name="start">
	<div class="container fluid">
		<div class="">
			<img src="giphy.gif" width="100%">
		</div>
		{{#each beers}}
			<div class="panel panel-default {{isPublishColor}}">
				<div class="panel-body">
					{{#if canEdit}}
						<div class="btn-group pull-right">
							<button class="btn btn-success view">
								<span class="glyphicon glyphicon-eye-open"></span>
							</button>
							<button class="btn btn-info edit">
								<span class="glyphicon glyphicon-pencil"></span>
							</button>
							<button class="btn btn-default publish">
								{{#if isPublish}}
									<span class="glyphicon glyphicon-ok-circle"></span>
								{{else}}
									<span class="glyphicon glyphicon-ban-circle"></span>
								{{/if}}
							</button>
						</div>
					{{/if}}
					<div class="title4">{{title}}</div>
					<div class="title5"><i>{{countryName country}}</i></div>
				</div>
				<table class="table">
					<tbody>
						<tr width="100%">
							<td width="120px">
								<div class="thumbnail">
									<img src="{{photoUrl 'thumbs' photo}}">
									<div class="caption">
										{{> starsRating rating=rating size='sm'}}
									</div>
								</div>
							</td>
							<td>
								<h4>
									{{#each typeElement in type}}
										{{typeName typeElement}}
									{{/each}}
								</h4>
								<br>{{packingName packing}}
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		{{/each}}
	</div>
</template>