<template name="topNav">
	<nav class="navbar navbar-default">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="/">BEER CLUB</a>
			</div>

			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				{{#if isAdmin}}
					<ul class="nav navbar-nav">
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Администрирование <span class="caret"></span></a>
							<ul class="dropdown-menu">
								<li><a href="/beers/types">Типы</a></li>
								<li><a href="/beers/countries">Страны</a></li>
								<li><a href="/beers/packings">Расфасовки</a></li>
								<li role="separator" class="divider"></li>
								<li><a href="/beers/edit">Добавить новое пиво</a></li>
							</ul>
						</li>
					</ul>
				{{/if}}
				<ul class="nav navbar-nav navbar-right">
					<!--form class="navbar-form navbar-left">
						<div class="input-group">
							<input type="text" class="form-control" id="search" placeholder="Штрих-код или название">
							<span class="input-group-btn">
								<button class="btn btn-default search" type="button"><span class="glyphicon glyphicon-search"></span></button>
							</span>
						</div>
					</form-->
					{{#if currentUser}}
						<!--li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
							<ul class="dropdown-menu">
								<li role="separator" class="divider"></li>
								<li>
									<a class="logout">
										<span class="glyphicon glyphicon-log-out"></span>
									</a>
								</li>
							</ul>
						</li-->
						<li>
							<a class="logout">
								<span class="glyphicon glyphicon-log-out"></span>
							</a>
						</li>
					{{else}}
						<li>
							<a class="login">
								<span class="glyphicon glyphicon-log-in"></span>
							</a>
						</li>
					{{/if}}
				</ul>
			</div><!-- /.navbar-collapse -->
		</div><!-- /.container-fluid -->
	</nav>
</template>