<template name="beerTaste">
	<div class="container fluid">
		{{#autoForm collection="BeerTastes" id="beerTaste" type=type doc=beerTaste}}
			<legend>{{beer.title}}</legend>
			{{> afQuickField name='flavor'}}
			<p class="infoDesc">
				Аромат пива — первый признак его стиля. Аромат оценивается в первую очередь, поскольку летучие компоненты пива рассеиваются уже через минуту после попадания в бокал. Основоположником учения о пивных ароматах считается химик Мейлгаард, который смог выделить более 100 отдельных ароматических элементов пива и составить таблицу ароматов Flavor Wheel. Основные ароматы «первого носа» пива — хмель, солод, дрожжи, хлеб. В пиве можно различить также ягодные, цветочные, фруктовые, карамельные и пряные оттенки. Дефектами пива считаются посторониие запахи: диацетиловые примеси с запахом топлёного масла, ацетальдегид с запахом свежескошенной травы, диметилсульфид с запахом варёных овощей, все оттенки ржавчины, фенола, медицинских, горелых и металлических запахов.
			</p>
			{{> afQuickField name='colour'}}
			<p class="infoDesc">
				Важная характеристика пива — его цвет. 13 оттенков пива изменяются от очень светлого до чёрного через соломенный, золотой, янтарный, медный и коричневый.
				По цвету пиво разделяют на светлое и темное с характерным для каждого сорта оттенком. Светлое пиво должно иметь светло- золотисто-желтый цвет. Считают, что светлый цвет является показателем тонкого нежного вкуса. К темным сортам пива  предъявляют менее жесткие требования, однако в них должна быть определенная  взаимосвязь между цветом и вкусовыми свойствами.
			</p>
			{{> afQuickField name='opacity'}}
			<p class="infoDesc">
				Пиво, налитое в бокал, должно производить приятное впечатление и удовлетворять эстетическим требованиям. Пиво, отпускаемое потребителям, должно быть прозрачным. При просматривании через стекло светлое пиво должно искриться и давать блеск. В пиве допускается лёгкая опалесценция (еле заметная муть).
			</p>
			{{> afQuickField name='cream'}}
			<p class="infoDesc">
				Плотная и стойкая пена является одним из основных свойств пива. Из всех слабоалкогольных напитков только пиво обладает наиболее устойчивой пеной. Пена должна быть компактной, долго не спадающей. Имеется определенная связь между стойкостью пены, правильным составом пива и насыщением его углекислотой. По внешнему виду пена бывает компактной, мелкой, плотной, пузырчатой, рыхлой, неустойчивой.
			</p>
			{{> afQuickField name='bitterness'}}
			<p class="infoDesc">
				Горечь пива или биттерность зависит от содержания хмеля и измеряется по шкале International Bitterness Units Scale. Хмелевая горечь в пиве хорошего качества должна ярко ощущаться только в момент его употребления, а затем ощущение горечи быстро проходит.
			</p>
			{{> afQuickField name='body'}}
			<p class="infoDesc">
				Тело пива Mouthfeel (body) может быть лёгким, плотным, неровным, округлым или карбонизированным.
			</p>
			{{> afQuickField name='aftertaste'}}
			<p class="infoDesc">
				В пиве с сильным характером чувствуется горечь хмеля, алкоголь и острота, придаваемая ему углекислотой. Более слабое пиво имеет во вкусе окисленные тона, карамельные и фруктовые ноты, эфирные и солодовые тона. Определение послевкусия пива — завершающий аккорд любой дегустации. Оно подчёркивает и сохраняет общее впечатление, которое останется в памяти надолго.
			</p>
			{{> afQuickField name='overallImpression'}}
			<button type="submit" class="btn btn-primary">Submit</button>
		{{/autoForm}}
	</div>
</template>