<template name="countriesList">
	<div class="container fluid">
		<div class="modal fade myModal" tabindex="-1" role="dialog">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
						<h4 class="modal-title">{{headEdit}}</h4>
					</div>
					<div class="modal-body">
						{{> quickForm collection="Countries" id="country" type=type doc=country buttonContent=headEdit}}
					</div>
				</div>
			</div>
		</div>
		<button class="btn btn-primary addCountry">Добавить новую страну</button>
		<table class="table table-stripped">
			<thead>
				<tr>
					<td>
						Название
					</td>
					<td>
						Штрих-код
					</td>
					<td></td>
				</tr>
			</thead>
			<tbody>
				{{#each countries}}
					<tr>
						<td>
							{{title}}
						</td>
						<td>
							{{codeNumberStart}} - {{codeNumberEnd}}
						</td>
						<td>
							<button class="btn btn-primary editCountry"><span class="glyphicon glyphicon-edit"></span></button>
						</td>
					</tr>
				{{/each}}
			</tbody>
		</table>
	</div>
</template>